html,body{
  width: auto;
  height:auto;
  margin:0px;
  background-color: #C70B86;
  background-image: linear-gradient(to left, #C70B86, #C80027)
  
}
.img-fluid,.container,.container-fluid{
  margin: 0px;
  padding: 0px
}
ul{
  list-style-type: none;
}
#right>input{
  margin-left: 1em;
  display: inline-block;
  border: 1px solid whitesmoke;
  background-color: white
}
#head{
  background-color: #8e0e61;
  width: 
}
#options{
  background-color: #8e0e61;
  width:101.1%;
}
#options>button{
  background-color:#8e0e61; /* Green */
  border: 2px solid #8e0e61;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-left: 2em;
}
#images>img{
  width: inherit;
  margin: 0%;
  padding: 0px
}
#middle{
  width: inherit;
  height:auto;
  margin-top: 10px
}
#right{
  border: 1px solid whitesmoke;
  float: right;
  width: 50%;
  margin-right:2em ;
  min-height:auto;
  max-height: 250.5em;
  background-color: whitesmoke;
  box-shadow: 1px 3px 12px 1px;
  margin-bottom: 0.5em
  
}
#right>h2,#right>p{
  margin-left: 20px;
  font-family: helvetica;
  color: #5D073E
}
li>p{
  float: right;
  margin-right:5em;
  font-family:helvetica;
}
#left{
  border: 2px solid whitesmoke;
  width: 35%;
  padding: 2em;
  float: left;
  margin-left: 20px;
  background-color: whitesmoke;
  box-shadow: 1px 2px 6px 2px;
  color: #5D073E;
  height: auto;
}
#img{
  width: 30%;
  margin: 0.9em
}
#mid{
  background-color: #5D073E;
  clear: both;
  min-height: auto;
  color: white;
}
#mid>p{
  font-family: helvetica;
  text-align: center;
  font-size: 30px;
  margin: 0px;
  background-image: linear-gradient(to right,#5D073E ,#C70B85)
}
#filter{
  margin-left: 20px
}
#div{
  border: 2px solid white;
  float: right;
  width: 40%;
  margin-top: 1.2em;
  background-color: white;
  margin-right: 4em;
  height:auto;
  border-radius: 5px 5px 5px 5px;
}
ul>button{
  display: inline-block;
  border: 2px solid #5D073E;
  background-color: #5D073E;
  color: white;
}
#footer{
  background-color: white;
  min-height: 10em;
  clear: both
}
.showItem {
    display: list-item;
}
.hideItem {
    display: none;
}
a>button{
  color: white;
   background-color:#8e0e61; /* Green */
  border: 2px solid #8e0e61;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-left: 2em;
}
form>input,form>textarea{
 float: right;
  margin-top:0em;
  clear: both
}
form>p{
  margin-top: -2em
}

